<div class="row content">
    <div class="col-xs-12 header">
        {{ wording.about.value.title }}
    </div>
</div>
<div class="row content">
    <div class="col-xs-3 sub-header">
        {{ wording.about.value.independent }}
    </div>
    <div class="col-xs-3 sub-header">
        {{ wording.about.value.informative }}
    </div>
    <div class="col-xs-3 sub-header">
        {{ wording.about.value.engaging }}
    </div>
    <div class="col-xs-3 sub-header">
        {{ wording.about.value.integrity }}
    </div>
</div>
<div class="row content">
    <div class="col-xs-3">
        <img src="assets/images/independent.jpg" class="img-rounded" alt="independent">
    </div>
    <div class="col-xs-3">
        <img src="assets/images/informative.jpg" class="img-rounded" alt="informative">
    </div>
    <div class="col-xs-3">
        <img src="assets/images/engaging.jpg" class="img-rounded" alt="engaging">
    </div>
    <div class="col-xs-3">
        <img src="assets/images/integrity.jpg" class="img-rounded" alt="integrity">
    </div>
</div>
<BR>
<div class="row content">
    <div class="col-xs-12 header">
        {{ wording.about.vision.title }}
    </div>
</div>
<div class="row content">
    <div class="col-xs-12">
        {{ wording.about.vision.text }}
    </div>
</div>


