<div class="row content season">
    <div class="col-xs-12 season-text">
        {{wording.season.seafood_month}}
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-xs-6 sub-header">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ wording.season.why }}</div>
            <img src="assets/images/question.png" class="img-responsive" alt="Why" ng-click="seafood.why()">
        </div>
    </div>
    <div class="col-xs-6 sub-header">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ wording.season.where_to_buy }} {{ wording.season.where_to_eat }}</div>
            <div class="panel-body"><img src="assets/images/seafood.png" class="img-responsive" alt="Where" ng-click="seafood.where()"></div>
        </div>
    </div>
</div>

