<div class="row content season">
    <div class="col-xs-6">
      <div id="slides_control">
            <carousel interval="myInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" class="carousel-img">
<!--
                <div class="carousel-caption">
                  <h4>Slide {{$index+1}}</h4>
                </div>
-->
              </slide>
            </carousel>
      </div>
  </div>
  <div class="col-xs-6 season-text-main" ng-click="main.season()">
      {{wording.menu.season}}
  </div>
</div>

<div class="row content">
  <div class="col-xs-12"><hr></div>
</div>
<div class="row row-eq-height">
  <div class="col-xs-3 sub-header">
    <div class="panel panel-primary">
      <div class="panel-heading">LATEST NEWS</div>
      <div class="panel-body"></div>
    </div>
  </div>
  <div class="col-xs-3 sub-header">
    <div class="panel panel-primary">
      <div class="panel-heading">CURRENT PROJECT</div>
      <div class="panel-body"></div>
    </div>
  </div>
  <div class="col-xs-3 sub-header">
    <div class="panel panel-primary">
      <div class="panel-heading">WHAT WE'VE DONE SO FAR</div>
      <div class="panel-body" ng-click="main.progress()">Presentation Slides</div>
    </div>
  </div>
  <div class="col-xs-3 sub-header">
    <div class="panel panel-primary">
      <div class="panel-heading">INTERNAL COMMUNICATION</div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>
