<div class="row content season">
    <div class="col-xs-12 season-text">
        {{wording.menu.season}}
    </div>
</div>
<div class="row row-eq-height">
    <div class="col-xs-3 sub-header">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ wording.season.fruit }}</div>
            <div class="panel-body"><img src="assets/images/fruit.jpg" class="img-responsive" alt="Fruit"></div>
        </div>
    </div>
    <div class="col-xs-3 sub-header">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ wording.season.seafood }}</div>
            <div class="panel-body"><img src="assets/images/seafood.png" class="img-responsive" alt="Seafood" ng-click="season.seafood()"></div>
        </div>
    </div>
    <div class="col-xs-3 sub-header">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ wording.season.meat }}</div>
            <div class="panel-body"><img src="assets/images/meat.jpg" class="img-responsive" alt="Meat" ></div>
        </div>
    </div>
    <div class="col-xs-3 sub-header">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ wording.season.spice }}</div>
            <div class="panel-body"><img src="assets/images/spice.png" class="img-responsive" alt="Spice"></div>
        </div>
    </div>
</div>